{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
    <span class="label">
        <strong>Microsoft Translator</strong>
        <span class="count">
            <span>{{ collector.journal|length }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Microsoft Translator</h2>

    {% for entry in collector.journal %}
        <h3>Request</h3>
        <pre style="overflow: auto;">
        {{- entry.request -}}
        </pre>
        <h3>Response</h3>
        <pre style="overflow: auto;">
        {{- entry.response -}}
        </pre>
    {% endfor %}
{% endblock %}
